@{
    ViewData["Title"] = "Home Page";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Business Frontpage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<style>
    .custom-header {
        background-image: url('https://c1.wallpaperflare.com/preview/207/957/147/dark-gloomy-books-pages-paper-read.jpg'); /* Ruta de la imagen de fondo */
        background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
        background-position: center; /* Centra la imagen de fondo */
        background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
        opacity: 0.7; /* Cambia la opacidad de la imagen (0.0-1.0) */
    }
</style>
<body>
    <!-- Header-->
    <header class="bg-dark py-5 custom-header">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Book Planner</h1>
                        <p class="lead text-white-50 mb-4">Escoge tus libros, organízalos y puntúalos a tu gusto!</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-warning btn-lg px-4 me-sm-3" asp-area="" asp-controller="UsuarioLogin" asp-action="Login">Iniciar Sesión</a>
                            <a class="btn btn-outline-light btn-lg px-4" asp-area="" asp-controller="UsuarioLogin" asp-action="Registrar">Registrarse</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="card border-warning mb-3" style="max-width: 20rem; border-radius: 10px">
                        <div class="feature bg-warning bg-gradient text-white rounded-3 mb-3"><i class="bi bi-book-fill"></i></div>
                        <div class="card-body">
                            <h2 class="h4 fw-bolder">Biblioteca de libros</h2>
                            <p>En la biblioteca encontrarás todos los libros que hay disponibles.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="card border-warning mb-3" style="max-width: 20rem; border-radius: 10px">
                        <div class="feature bg-warning bg-gradient text-white rounded-3 mb-3"><i class="bi bi-bookmark-heart-fill"></i></div>
                        <div class="card-body">
                            <h2 class="h4 fw-bolder">Estado del libro</h2>
                            <p>Encontrarás opciones para elegir en qué estado tienes el libro que has escogido.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card border-warning mb-3" style="max-width: 20rem; border-radius: 10px">
                        <div class="feature bg-warning bg-gradient text-white rounded-3 mb-3"><i class="bi bi-star-half"></i></div>
                        <div class="card-body">
                            <h2 class="h4 fw-bolder">Puntúa</h2>
                            <p>Puedes puntuar los libros que te has leído y saber rápidamente tus gustos.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
